{% extends "layout.html" %}
 
{% block y %}
<section class="" style="background-color: white">
    <div class="container">
      <div class="row ">
        <div class="col-lg-12 col-xl-11">
          <div class="card">
            <div class="card-body ">
              <div class="row ">
                <p class="text-center display-1 mt-4">Sign Up Academic Lease</p>
                <div class="col-md-10 col-lg-6 col-xl-5 order-2">
                  <form action="/signup" class="form-group" method="POST">
                    <label for="uname"><b>Name</b></label>
                    <input class="form-control" type="text" placeholder="Enter Name" name="uname" required>
                    <label for="uname"><b>Email</b></label>
                    <input class="form-control" type="text" placeholder="Enter Email" name="email" required>

                    <label for="psw"><b>Password</b></label>
                    <input class="form-control" type="password" placeholder="Enter Password" name="password" required>

                    <label for="psw"><b>Retype Password</b></label>
                    <input class="form-control" type="password" placeholder="Retype Password" name="rpassword" required>
                    <button type="button" onClick="location.href='/login'" class="btn btn-primary">Signup</button>
                </form>
                
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7  mt-4 align-items-center">
                  <img src="/static/img/centinnalcourt.jpeg"
                    class="img-thumbnail" alt="Sample image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}